.userPage {
    display: flex;
    flex-direction: column;
}

.userInfo {
    margin: 8px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.userInfo.dark svg, .userInfo.dark .username {
    color: white;
}

.buttonBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userbtn {
    margin: 0 5px !important;
    color: white !important;
}

.buttonBar.light .userbtn {
    background-color: #3a68e7 !important;

}

.buttonBar.light .userbtn:hover {
    background-color: darkblue !important;
}

.buttonBar.dark .userbtn {
    background-color: #565252 !important;
}

.buttonBar.dark .userbtn:hover {
    background-color: #111 !important;
}

.table-container {
    width: 100vw;
    max-width: 972px;
}

.table-container {
    margin: 10px;
}

.table-bar {
    display: flex;
    justify-content: center;
}

.table-bar svg {
    color: black;
}

.table-bar.dark svg {
    color: white;
}

.table-bar button:hover {
    background-color: darkgray;
}

.overviews-table {
    width: 100vw;
    max-width: 972px;
    background-color: white;
}

.overviews-table.dark {
    background-color: #111111;
    color: white;
}

.overviews-table.dark * {
    color: white;
}

.overviews-table svg {
    color: black;
    border-radius: 20px;
}

.overviews-table.dark svg {
    color: white;
}

.overviews-table button:hover {
    background: none;
}