.tag-click-result.dark {
    color: white;
}

.result-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.overview {
    border: 1px solid lightgray;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    border-radius: 10px;
    margin: 8px 0;
    height: auto;
    width: 100%;
}

.overview header, .overview footer {
    display: flex;
    border-radius: 10px 10px 0 0;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #3a68e7;
    padding: 5px;
    transition: background-color linear 0.1s;
}

.overview.dark header, .overview.dark footer {
    background-color: darkgray;
    color: black;
}

.overview header:hover {
    cursor: pointer;
    background-color: darkblue;
}

.overview.dark header:hover {
    background-color: #565252;
}

.overview footer {
    border-radius: 0 0 10px 10px;
}

.tag-container {
    background-color: white;
}

.overview.dark .tag-container {
    background-color: darkgray;
}

.overview-tag {
    padding: 5px;
    margin-right: 5px !important;
    border-radius: 10px;
    background-color: #3a68e7;
    color: white;
}

.overview-tag:hover{
    cursor: pointer;
    color: #3a68e7;
    background-color: transparent;
}

.overview.dark .overview-tag {
    background-color: white;
    color: black;
}

.overview.dark .overview-tag:hover {
    color: white;
    background-color: transparent;
}

.overview img {
    width: 100%;
    height: 264px;
    margin-bottom: -4px;
}

.footer-container div {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    vertical-align: middle;
}

.footer-container .footer-rating svg {
    color: orange;
    margin-right: 2px;
}

.footer-container.dark .footer-rating svg {
    color: black;
}

.submit-btn-search-show-more {
    margin-bottom: 8px !important;
    background-color: #3a68e7 !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 10px !important;
    color: white !important;
    transition: background-color linear 0.1s !important;
}

.submit-btn-search-show-more:hover {
    cursor: pointer !important;
    background-color: darkblue !important;
}

.submit-btn-search-show-more.dark {
    background-color: #565252 !important;
}

.submit-btn-search-show-more.dark:hover {
    background-color: #111 !important;
}