.navBar {
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: flex;
    flex-direction: row;
}

.navBar.light {
    background-color: #3a68e7;
    color: white !important;
}

.navBar.dark {
    background-color: #565252;
    color: white !important;
}

.navbtn {
    color: white !important;
}

.navMenuList.light .navbtn {
    background-color: #3a68e7;
}

.navMenuList.light .navbtn:hover {
    background-color: darkblue !important;
}

.navMenuList.dark .navbtn {
    background-color: #565252;
    border: none;
}

.navMenuList.dark .navbtn:hover {
    background-color: #111 !important;
}

.prof-logo {
    position: absolute !important;
    right: 0 !important;
    display: flex;
    flex-direction: row;
}

.navMenuList{
    display: flex;
    flex-direction: column;
    background-color: #3a68e7;
    z-index: 1;
    position: absolute;
    top: 40px;
    left: 0px;
}

.navMenuList.dark {
    background-color: #565252;
}


